<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input #emailCtrl="ngModel" id="email" type="email" name="email" required email ngModel />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input #pwdCtrl="ngModel" id="password" type="password" name="password" required minlength="6" (ngModelChange)="onChange(pwdCtrl)" ngModel />
    </div>

    <button class="button">Login</button>
  </div>
  @if(emailCtrl.touched && emailCtrl.dirty && emailCtrl.invalid){
      <p class="control-error">Invalid email address.</p>
  }
  @if(pwdCtrl.touched && pwdCtrl.dirty && pwdCtrl.invalid){
    <p class="control-error">Invalid password.</p>
}
</form>